
body {

  background-image: url('https://r4.wallpaperflare.com/wallpaper/760/708/868/spider-man-miles-morales-spider-man-into-the-spider-verse-wallpaper-45b90b3ae7f799c3206beb1073e1e93a.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #fff;

}

.profile-card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 20px;
  width: 300px;
  color: white;
  text-align: center;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.profile-card:hover {
  transform: translateY(-10px);
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.profile-name, .profile-title, .profile-description {
  color: white;
}
